<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Studio Portal</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="main-back">
  <div class="container-fluid ">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <li class="navbar-brand">MyStudioPortal</li>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            {{#if user.teacher.id}}
            <li class="nav-item active">
              <a class="nav-link" href="/teacherhome">Teacher Home</a>
            </li>
            <li class="nav-item active">
             <a class="nav-link" href="/teacherhome/userprofile">My Account</a>
            </li>
            {{/if}}
            {{#if user.student.id}}
            <li class="nav-item active">
              <a class="nav-link" href="/studenthome">Student Home</a>
            </li>
            <li class="nav-item active">
             <a class="nav-link" href="/studenthome/userprofile">My Account</a>
            </li>
            {{/if}}

            {{#if user.teacher.id}}
            <li class="nav-item">
              <a class="nav-link" href="/teacherhome/adduser">Add User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/teacherhome/addsong">Add Song</a>
            </li>
            {{/if}}
            {{#if loggedIn}}
            <li class="nav-item">
              <a class="nav-link" href="/" id="logout">logout</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/login">login</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
</body>

</html>