<div class="card profile-home p-4 white-text">

    <div class="card-body">
        <label for="add-song">Upload Audio File</label>
        <div>
            <button id="upload_widget" class="cloudinary-button" type="file" name="FileUp" method="post"
                enctype="multipart/form-data">Upload files</button>

            <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

            <script type="text/javascript">
                var myWidget = cloudinary.createUploadWidget({
                    cloudName: 'my-studio-portal',
                    uploadPreset: 'n46r86kn'
                }, (error, result) => {
                    if (!error && result && result.event === "success") {
                        console.log('Done! Here is the image info: ', result.info);
                        async function SongFormHandler(event) {
                            event.preventDefault();

                            const song_name = document.querySelector("#song-name").value.trim();
                            const album_name = document.querySelector("#song-album").value.trim();
                            const song_writer = document.querySelector("#song-artist").value.trim();
                            const company_id = document.getElementById("company-id").textContent;
                            const path = result.info.secure_url;

                            const response = await fetch("/api/teachers/song", {
                                method: "post",
                                body: JSON.stringify({
                                    song_name,
                                    album_name,
                                    song_writer,
                                    company_id,
                                    path,
                                }),
                                headers: { "Content-Type": "application/json" },
                            });

                            if (response.ok) {
                                if (window.confirm(song_name + " added to song catalogue. Would you like to add another song?")) {
                                    document.location.replace("/teacherhome/addsong");
                                } else {
                                    document.location.replace("/teacherhome");
                                }
                            } else {
                                console.log("song not added");
                                alert(response.statusText);
                            }
                        }
                        document
                            .querySelector(".audio-upload")
                            .addEventListener("submit", SongFormHandler);
                    }

                }
                )
                document.getElementById("upload_widget").addEventListener("click", function () {
                    myWidget.open();
                }, false);
            </script>

            {{!-- <input id="uploadInput" type="file" name="FileUp" method="post" enctype="multipart/form-data" />
            <div>
                <button type="button" id="upBtn">Upload File</button>
            </div> --}}
        </div>
        <form class="audio-upload">
            <div class="form-group row">
                <label for="company-info" class="col-sm-2 col-form-label">Company name: </label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext white-text" id="company-info">
                        {{user.company.company_name}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="company-id" class="col-sm-2 col-form-label">Company ID: </label>
                <div class="col-sm-10">
                    <p id="company-id" class="form-control-plaintext white-text">{{user.company.id}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="song-name">Song Name: </label>
                <input type="text" class="form-control w-50 p-3" id="song-name">
            </div>
            <div class="form-group">
                <label for="song-artist">Artist: </label>
                <input type="text" class="form-control w-50 p-3" id="song-artist">
            </div>
            <div class="form-group">
                <label for="song-album">Album: </label>
                <input type="text" class="form-control w-50 p-3" id="song-album">
            </div>

            <button type="submit" class="btn btn-light">Save</button>
            <a type="button" href="../" class="btn btn-primary">back</A>
        </form>
    </div>
</div>

<br>

{{!--
<script src="/javascript/audioupload.js"></script> --}}
{{!--
<script src="/javascript/addsong.js"></script> --}}