<div class="card profile-home p-4 white-text">
    <div class="card-header" id="company-info">
        {{user.company.company_name}}
    </div>
    <div class="card-body teacher_entry-form">
        <label for="picture-edit">Upload Profile Picture</label>
        <div>

            <input id="uploadInput" type="file" name="FileUp" method="post" enctype="multipart/form-data" />
            <div>
                <button type="button" id="upBtn">Upload</button>
            </div>

        </div>
        <br>
        <form>
            <div class="form-group hidden">
                <label for="user_id-entry">User ID</label>
                <p id="user_id-entry">{{user.id}}</p>
            </div>
            <div class="form-group">
                <label for="first_last_name-display">Name</label>
                <p id="first_last_name-display">{{user.first_name}} {{user.last_name}}</p>
            </div>
            <div class="form-group">
                <label for="birthday-entry">Birthday</label>
                <input type="text" class="form-control" id="birthday-entry">
            </div>
            <div class="form-group">
                <label for="genre-entry">Coaching Genre</label>
                <input type="text" class="form-control" id="genre-entry">
            </div>
            <div class="form-group">
                <label for="level-entry">Coaching Level</label>
                <input type="text" class="form-control" id="level-entry">
            </div>
            {{!-- <form>
                <div class="form-group">
                    <label for="profile-pic">Profile picture:</label>
                    <input type="file" class="form-control-file" id="profile-pic">
                </div>
            </form> --}}
            <button type="submit" class="btn btn-light">Submit</button><br>
        </form>
        {{!-- <input id="uploadInput" type="file" name="FileUp" method="post" enctype="multipart/form-data" />
        <button style="display: block; margin-top: 50px" id="upBtn">Upload</button> --}}
    </div>
</div>
<br>



<script src="/javascript/createteacherprofile.js"></script>
<script src="/javascript/upload.js"></script>