<div class="hero">
    <h1 class="head-text p-4">
        My Studio Portal
    </h1>
    <div class="p-3">
        <a href="/login" class="btn btn-outline-light" role="button" aria-pressed="true">Log in</a>
    </div>
</div>