<div class="profile-home">
    <h1>
        You are logged in as a student
    </h1>
    <div class="card-body">
        <h4 class="card-text"> {{user.first_name}} {{user.last_name}} </h4>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/studenthome/createstudentprofile">Create My Profile</a>
        <a class="navbar-brand" href="/studenthome/editstudentprofile">Edit My Profile</a>
    </nav>
</div>