.main-back {
    background-color: rgb(58, 58, 58);
}

.bg-primary {
    background-color: #7ed957!important;
}

.card-opacity{
    opacity: 0.3;
}


.bg-studentcard{
    background-color: #ad0046;
}

.btn-dark {
    color: #fff;
    background-color: transparent;
    border-color: #343a40;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    padding-right: 0px;
    padding-left: 0px;
}

.hero {
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/back-ground.png");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-text {
    color: white;
    text-align: left;
    opacity: 1;
    font-size: 50px;
    font-family: "Montserrat" !important;
    font-weight: 700 !important;
    letter-spacing: -3px !important;
}

.padding {
    padding: 50px;
}

.white-text {
    color: white;
}

.log-in {
    background-image: url("../images/log-in.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-home {
    justify-content: center;
    flex-wrap: wrap;
    /* background-image: url("../images/abstract-color.png"); */
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#18191a;
}

.sticky-frame {
    position: sticky;
    top: 0;
}

.animated {
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }